* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg") center;
  background-size: cover;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #fff;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin: 0 0 20px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 300;
  border-radius: 20px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}